.users {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    gap: 20px;
}

.users .user img {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    border-radius: 50%;
}